.App {
  text-align: center;
  border: 2px solid black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.header{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  
}

.links{
  margin: 2rem;
  width: 3vw;
  height: 5vh;
  color: black;
  
}

.about-section{
  display: flex;
}

.img-container{
  background-image: url(./assests/portrait.png);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  margin-right: 7rem;
  width: 20vw;
  height:40vh;
}

a{
  padding: 2rem;
}

.about-section{
  margin: 2rem;
}

ul{
  list-style-type: none;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
